<div class="container">
  <div class="input">
    <input matInput  [(ngModel)]="num" type="number" value="0">
  </div>
  <div class="comands">
    <button class="add" mat-fab (click)="add()" (keypress)="buttonPress($event)">+</button>
    <button class="minus" mat-fab (click)="minus()" (keypress)="buttonPress($event)">-</button>
    <button class="multiply" mat-fab (click)="multiply()" (keypress)="buttonPress($event)">*</button>
    <button class="divided" mat-fab (click)="divided()" (keypress)="buttonPress($event)">/</button>
    <button class="equal" mat-fab (click)="equal()" (keypress)="buttonPress($event)">=</button>
    <button class="delete" mat-fab (click)="delete()" (keypress)="buttonPress($event)">C</button>
  </div>
</div>